footer{
    background: url('https://images.radio-canada.ca/q_auto,w_1250/v1/ici-info/16x9/jeux-video-retro-nes-snes-sega-genesis-nintendo-n64-playstation-gamecube.jpg');
    width: 100%;
    height:5%;
    margin: 0;
    padding: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
    bottom: 0;
    position: fixed;
}

